body {
  margin: 0;
  padding: 0;
  text-align: center; /* center headings & general layout */
  font-family: Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol {
  padding-left: 0;
}

ol li {
  list-style: none;
}

#title {
  text-align: center;
}

#articles-header {
  padding: 0 0 20px 20px;
  text-align: left;
}

.button-container {
  display: flex;
  color: black;
  gap: 10px;
  justify-content: flex-start; /* left aligned */
}

.comments {
  text-align: left;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.card {
  width: 500px;
  background-color: #d5d5d5;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "img articles-header date"
    "img author ."
    "img . ."
    "img . .";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  grid-area: img;
}

.article-title {
  grid-area: articles-header;
  text-align: left;
}

.card-content {
  padding: 16px;
  text-align: left;
}

.card-content h3 {
  font-size: 28px;
  margin: 0 0 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
#commentButton {
  background-color: green;
}
#commentButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
