body {
  margin: 0;
  padding: 0;
  text-align: center; /* center headings & general layout */
  font-family: Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol {
  padding-left: 0;
}

ol li {
  list-style: none;
}

#title {
  text-align: center;
  background-color: grey;
}

#articles-header {
  padding: 0 0 20px 20px;
  text-align: left;
}

.button-container {
  display: flex;
  color: black;
  gap: 10px;
  justify-content: flex-start; /* left aligned */
}

.comments {
  text-align: left;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.card {
  display: flex;
  width: 1000px;
}

.card img {
  width: 300px;
  object-fit: cover;
}

.card-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "author . date"
    "topic . ."
    "votes comments .";
  padding: 16px;
}

.article-title {
  grid-area: title;
}
.topic {
  grid-area: topic;
}
.author {
  grid-area: author;
}
.votes {
  grid-area: votes;
}
.comments {
  grid-area: comments;
}
.date {
  grid-area: date;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#commentButton {
  background-color: green;
}
#commentButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

#deleteButton {
  background-color: red;
}
#deleteButton :hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.dropbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(11, 1, 1);
  padding: 16px;
  font-size: 16px;
  border: black;
  cursor: pointer;
  display: flex;
}
.dropbtn img {
  width: 20x;
  height: 20px;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content button:hover {
  background-color: #c8c6c6;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown :hover .dropbtn {
  background-color: #3e8e41;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.topics {
  width: 240px;
  background: grey;
  padding: 0 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.articles {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

#articles-header {
  margin-bottom: 10px;
}
