* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ol li {
  list-style-type: none;
}

#title {
  text-align: center;
}

.button-container {
  display: flex; /* Aligns items horizontally */
  gap: 10px; /* Adds space between buttons */
  justify-content: left; /* Centers buttons within the container */
}

#articles-header {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  width: 500px;
  background-color: #d5d5d5;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0px 2x 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: grid;
  grid-template-columns: 3fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas:
    "img articles-header date"
    "img author ."
    "img . ."
    "img . .";
}
.article-title {
  grid-area: articles-header;
}

img {
  grid-area: img;
}
.card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
